
        ul {
         background-color: red;
         color: white;   
        }

        ol {
         background-color: rgb(171, 11, 115);
         color: white;   
        }

li {
    font-size: 60px;
    gap: 30px;
}


